<!DOCTYPE html>
<html>
<head>
    <title>Create Blog</title>
</head>
<body>
    <h1>Create a New Blog ✍️</h1>
      <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>    
 
   <form action="/add" method="POST">
    <input type="text" name="title" placeholder="Enter title"><br><br>
    <textarea name="content" placeholder="Write your story"></textarea><br><br>
    <button type="submit">Post</button>
   </form>
<script>
function validateForm() {
    const title = document.forms[0]["title"].value;
    const content = document.forms[0]["content"].value;

    if (title.trim() === "" || content.trim() === "") {
        alert("Both Title and Content are required!");
        return false;
    }

    return true;
}
</script>
</body>
</html>