<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
</head>
<body>
    <h1>Welcome to My Blog 🚀</h1>

    <a href="/create">Create a Blog</a>

    <hr>

    <% blogs.forEach(blog => { %>
        <h2><%= blog.title %></h2>
        <p><%= blog.content %></p>
        <hr>
    <% }) %>

</body>
</html>